# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv
env/
venv/
ENV/

# Python dependency folders
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Project-specific output
frames/
features/
clusters/
*.npy
*.mp4
*.avi
